@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
* {
    font-family: 'Times New Roman', Times, serif
}

.conic-blue-bg {
    background: conic-gradient( from 60deg, #1e2c47 0% 25%, /* Blue */
    #101828, /* Even darker blue */
    #101828/* Very dark blue */
    );
}

.conic-gray-bg {
    background: conic-gradient( from 60deg, #474747 0% 25%, /* Blue */
    #2222225d, /* Even darker blue */
    #07070746/* Very dark blue */
    );
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}